body{
	background: linear-gradient(to bottom right, #67879d 0%, #324349 100%);
	text-align: center;
	margin: 25px auto;
	padding: 10px;
}
#main{
	width: 1000px;
	height: 1000px;
	margin: 25px auto;
	padding: 10px;
}
h1{
	position: relative;
	top: -100px;
	left: center;
	font-family: "Lucida Console";
	font-size: 80pt;
	color: #FFFFFF;
}

#emailR {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

#passCode {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

#passwordR {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

#enterCode {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

#enterEmail {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

#guestName {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

.loginR{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: -243px;
  left: 650px;
}



.signUpR{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: -243px;
  left: 690px;
}

.enterCodePos{
	position: relative;
	top: 30px;
	left: 287px;
	visibility: hidden;
}

.REmailPos{
	position: relative;
	top: -200px;
	left: 305px;
}

.passwordRPos{
  position: relative;
	top: -130px;
  left: 305px;
}

.passCodePos{
  position: relative;
	top: -60px;
  left: 305px;
}

.enterEmailPos{
	position: relative;
	top: -40px;
	left: 287px;
	visibility: hidden;
}

.createJoinPos{
	position: relative;
	top: -50px;
  left: center;
}

.vPass{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: 35px;
  left: 30;
}

.createClass{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -40px;
  left: -155px;
}

.join{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -40px;
  left: 145px;
}

.createAClass{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  visibility: hidden;
  position: relative;
  top: -60px;
  left: -45px;
}

.joinClass{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  visibility: hidden;
  position: relative;
  top: 125px;
  left: 105px;
}

.login{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: -242px;
  left: 560px;
}

.signUp{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -242px;
  left: 575px;
}

.passwordLoginPos{
  position: relative;
	top: -50px;
  left: 278px;
  visibility: hidden;
}

.loginEmailPos{
  position: relative;
	top: -100px;
  left: 278px;
  visibility: hidden;
}

.guestNamePos{
  position: relative;
	top: -270px;
  left: 278px;
  visibility: hidden;
}

.loginUser{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: -50px;
  left: -20px;
  visibility: hidden;
}

.loginGuest{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: -150px;
  left: -150px;
  visibility: hidden;
}

.signIn{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -410px;
  left: 220px;
}

.guestLogin{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -410px;
  left: 40px;
}

.passRS{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: -242px;
  left: 585px;
}

.passR{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: -242px;
  left: 535px;
}

.create{
	background-color: rgb(154, 155, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: 160px;
  left: 15px;
}

.userPassColor{
	font-family: "Times New Roman";
	font-size: 25pt;
	color: #FFFFFF;
}

.firstNamePos{
  position: relative;
	top: -220px;
	left: 278px;
}

.emailPos{
  position: relative;
	top: -80px;
	left: 278px;
}

.lastNamePos{
  position: relative;
	top: -150px;
	left: 278px;
}

.guestPos{
  position: relative;
	top: -200px;
	left: center;
}

.passwordPos{
  position: relative;
	top: -10px;
	left: 278px;
}

.confirmPasswordPos{
  position: relative;
	top: 60px;
	left: 278px;
}

.selectTypePos{
  position: relative;
	top: 130px;
	left: center;
}

#lastName {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

#password {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

#email {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

#confirmpassword {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}


#firstName {
  border-radius: 25px;
  padding: 20px; 
  width: 400px;
  height: 20px;  
}

h2{
	position: relative;
	top: 60px;
	left: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20pt;
  top: 20px;
  left: 278 px;
  color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 278px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}