body{
	background: linear-gradient(to bottom right, #0099ff 0%, #33ccff 100%);
	text-align: center;
	margin: 25px auto;
	padding: 10px;
}
#main{
	width: 1000px;
	height: 1000px;
	margin: 25px auto;
	padding: 10px;
}
h1{
	position: relative;
	top: -100px;
	left: center;
	font-family: "Lucida Console";
	font-size: 80pt;
	color: #FFFFFF;
}
.login{
	background-color: rgb(154, 155, 154); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: -242px;
  left: 535px;
}

.signUp{
	background-color: rgb(154, 155, 154); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -242px;
  left: 575px;
}